/* Footer genel düzen */
.sb-new-footer {
    background-color: #f8f8f8;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .foot-top .menu-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .menu-item {
    margin: 20px 0;
  }
  
  .menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 16px;
  }
  
  .sub-menu {
    margin-top: 10px;
  }
  
  .sub-item {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
  }
  
  .sub-item:hover {
    text-decoration: underline;
  }
  
  /* İkon düzeni */
  .icon-wrapper {
    cursor: pointer;
  }
  
  .button-icon {
    font-size: 15px;
    padding: 10px;
  }
  
  /* Divider çizgisi */
  .divider {
    border: 1px solid #ccc;
    margin: 20px 0;
  }
  
  /* Sosyal medya ikonları */
  .foot-bottom .social-icons {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 8px;
    text-decoration: none;
  }
  
  .social-icon:hover {
    background-color: #555;
  }
  
  /* Sosyal medya ikonları için özel stiller */
  .facebook-icon { background-color: #3b5998; }
  .instagram-icon { background-color: #e4405f; }
  .twitter-icon { background-color: #1da1f2; }
  .youtube-icon { background-color: #ff0000; }
  